In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
import itertools

from library.sb_utils import save_file

In [2]:
df = pd.read_csv('../data/processed/full_data_cleaned.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33819106 entries, 0 to 33819105
Data columns (total 15 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_by_user_sequence  int64
 3   order_dow               int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   product_id              int64
 7   add_to_cart_sequence    int64
 8   reordered               int64
 9   product_name            object
 10  aisle_name              object
 11  dept_name               object
 12  aisle_id                int64
 13  department_id           int64
 14  eval_set                object
dtypes: float64(1), int64(10), object(4)
memory usage: 3.8+ GB

In [4]:
# Find just one user to explore with.
prolific_users = df[df['order_by_user_sequence']>100]
len(prolific_users['user_id'].unique())

0

In [5]:
prolific_users = df[df['order_by_user_sequence']==100]
len(prolific_users['user_id'].unique())

867

In [6]:
prolific_users['add_to_cart_sequence'].max()

47

In [7]:
prolific_user_w_biggest_cart = prolific_users[prolific_users['add_to_cart_sequence']==47]
prolific_user_w_biggest_cart

,order_id,user_id,order_by_user_sequence,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_sequence,reordered,product_name,aisle_name,dept_name,aisle_id,department_id,eval_set
5263305,1629423,32099,100,1,14,1.0,27966,47,1,Organic Raspberries,packaged vegetables fruits,produce,123,4,train

In [8]:
practice_user = df[df['user_id']==32099]
practice_user.sample(7)

,order_id,user_id,order_by_user_sequence,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_sequence,reordered,product_name,aisle_name,dept_name,aisle_id,department_id,eval_set
5261669,2154990,32099,13,2,15,1.0,48318,15,1,Taffy Dulce de Leche Sandwich Cookies,cookies cakes,snacks,61,19,prior
5262679,2245218,32099,63,4,10,2.0,15303,15,0,Comfort Sheer 60 ct Assorted Posted 5/7/2014 V...,first aid,personal care,118,11,prior
5262065,580425,32099,31,4,9,3.0,33398,17,1,Hand Made Style Flour Tortilla,tortillas flat bread,bakery,128,3,prior
5261515,455159,32099,7,2,8,2.0,27288,10,0,Chocolate Chip Cookie Dough,doughs gelatins bake mixes,pantry,105,13,prior
5261618,20145,32099,11,1,20,1.0,4462,16,1,Pink Lady Apple Kombucha,tea,beverages,94,7,prior
5262768,699779,32099,67,5,10,2.0,40663,24,1,Ricotta Original Cheese,packaged cheese,dairy eggs,21,16,prior
5261446,931900,32099,4,1,20,4.0,16696,11,1,Coke Classic,soft drinks,beverages,77,7,prior

In [9]:
# Tease out whether each item is reordered or not each order.
order1 = practice_user[practice_user['order_by_user_sequence']==1
                           ]['product_id'].unique().tolist()
len(order1)

26

In [10]:
order2 = practice_user[practice_user['order_by_user_sequence']==2
                           ]['product_id'].unique().tolist()
len(order2)

12

In [11]:
only1 = [x for x in order1 if x not in order2]
len (only1)

25

In [12]:
# Add rows so that non-reordered items are present in order 2
practice_user[practice_user['order_by_user_sequence']==1].sample(1)

,order_id,user_id,order_by_user_sequence,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_sequence,reordered,product_name,aisle_name,dept_name,aisle_id,department_id,eval_set
5261365,2959648,32099,1,0,17,NaN,39581,20,0,French Vanilla Creamer,cream,dairy eggs,53,16,prior

In [13]:
practice_user[practice_user['order_by_user_sequence']==2].sample(1)

,order_id,user_id,order_by_user_sequence,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_sequence,reordered,product_name,aisle_name,dept_name,aisle_id,department_id,eval_set
5261396,309518,32099,2,1,15,1.0,41971,12,0,Puff Pastry Shells,frozen breads doughs,frozen,58,1,prior

In [14]:
order2deets = {'order_id':309518, 'user_id':32099, 
               'order_by_user_sequence':2, 'order_dow':1, 
               'order_hour_of_day':15, 'days_since_prior_order': 1.0,
               'product_id': only1, 'reordered':0}

order2_new_rows = pd.DataFrame.from_dict(order2deets)

order2_new_rows.head()

,order_id,user_id,order_by_user_sequence,order_dow,order_hour_of_day,days_since_prior_order,product_id,reordered
0,309518,32099,2,1,15,1.0,40285,0
1,309518,32099,2,1,15,1.0,27966,0
2,309518,32099,2,1,15,1.0,34969,0
3,309518,32099,2,1,15,1.0,7419,0
4,309518,32099,2,1,15,1.0,26209,0

In [15]:
practice_user = pd.concat([practice_user, order2_new_rows])
practice_user.sample(10)

,order_id,user_id,order_by_user_sequence,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_sequence,reordered,product_name,aisle_name,dept_name,aisle_id,department_id,eval_set
5262910,2334943,32099,76,6,14,1.0,44987,16.0,1,Heavy Whipping Cream,cream,dairy eggs,53.0,16.0,prior
5262417,780589,32099,48,1,14,1.0,2732,3.0,0,Gluten Free Pretzel Sticks,chips pretzels,snacks,107.0,19.0,prior
5262111,659525,32099,33,1,15,4.0,20175,32.0,1,The Original Vanilla Ice Cream Sandwich,ice cream ice,frozen,37.0,1.0,prior
5263165,1613797,32099,92,4,16,4.0,49105,4.0,1,Classic with Tuna Anchovies & Whitefish Cat Food,cat food care,pets,41.0,8.0,prior
5262242,1960865,32099,39,0,11,2.0,21616,32.0,0,Organic Baby Arugula,packaged vegetables fruits,produce,123.0,4.0,prior
5261515,455159,32099,7,2,8,2.0,27288,10.0,0,Chocolate Chip Cookie Dough,doughs gelatins bake mixes,pantry,105.0,13.0,prior
5263196,2290164,32099,93,0,11,3.0,49105,18.0,1,Classic with Tuna Anchovies & Whitefish Cat Food,cat food care,pets,41.0,8.0,prior
5261813,2690907,32099,18,1,20,4.0,7349,24.0,1,"Bread, Sliced, Extra Sourdough",bread,bakery,112.0,3.0,prior
5261731,429499,32099,16,1,12,1.0,42372,3.0,1,Pineapple on the Bottom Greek Yogurt,yogurt,dairy eggs,120.0,16.0,prior
5261942,3380792,32099,24,6,12,7.0,48705,27.0,1,Parmesan Cheese,packaged cheese,dairy eggs,21.0,16.0,prior

Now find a way to iterate and do this for every order. Find items from order n not reordered in order n+1. Find deets for order n+1. Add rows to practice_user with n+1 deets and n-only products

In [16]:
# This person has 100 orders, so I'm working from n
# (order_by_user_sequence) 2-99 and n+1 would be orders 3-100

# Start with creating orders' deets in dictionary form

orders_deets = practice_user.iloc[:,0:6].reset_index(drop=True)
orders_deets = orders_deets.groupby('order_by_user_sequence').first()
orders_deets['sequence_column'] = orders_deets.index
orders_deets = orders_deets.reset_index(drop=True)
orders_deets.index = orders_deets.index + 1
orders_deets = orders_deets.rename(columns={'sequence_column':
                                            'order_by_user_sequence'})
orders_deets = orders_deets[['order_id', 'user_id', 
                             'order_by_user_sequence', 'order_dow', 
                             'order_hour_of_day', 'days_since_prior_order']]
orders_deets = orders_deets.to_dict(orient='index')
orders_deets

{1: {'order_id': 2959648,
  'user_id': 32099,
  'order_by_user_sequence': 1,
  'order_dow': 0,
  'order_hour_of_day': 17,
  'days_since_prior_order': nan},
 2: {'order_id': 309518,
  'user_id': 32099,
  'order_by_user_sequence': 2,
  'order_dow': 1,
  'order_hour_of_day': 15,
  'days_since_prior_order': 1.0},
 3: {'order_id': 2494101,
  'user_id': 32099,
  'order_by_user_sequence': 3,
  'order_dow': 4,
  'order_hour_of_day': 11,
  'days_since_prior_order': 3.0},
 4: {'order_id': 931900,
  'user_id': 32099,
  'order_by_user_sequence': 4,
  'order_dow': 1,
  'order_hour_of_day': 20,
  'days_since_prior_order': 4.0},
 5: {'order_id': 2154511,
  'user_id': 32099,
  'order_by_user_sequence': 5,
  'order_dow': 5,
  'order_hour_of_day': 16,
  'days_since_prior_order': 4.0},
 6: {'order_id': 825019,
  'user_id': 32099,
  'order_by_user_sequence': 6,
  'order_dow': 0,
  'order_hour_of_day': 8,
  'days_since_prior_order': 2.0},
 7: {'order_id': 455159,
  'user_id': 32099,
  'order_by_user_sequence': 7,
  'order_dow': 2,
  'order_hour_of_day': 8,
  'days_since_prior_order': 2.0},
 8: {'order_id': 1116627,
  'user_id': 32099,
  'order_by_user_sequence': 8,
  'order_dow': 3,
  'order_hour_of_day': 11,
  'days_since_prior_order': 1.0},
 9: {'order_id': 1395324,
  'user_id': 32099,
  'order_by_user_sequence': 9,
  'order_dow': 4,
  'order_hour_of_day': 11,
  'days_since_prior_order': 1.0},
 10: {'order_id': 2819872,
  'user_id': 32099,
  'order_by_user_sequence': 10,
  'order_dow': 0,
  'order_hour_of_day': 14,
  'days_since_prior_order': 3.0},
 11: {'order_id': 20145,
  'user_id': 32099,
  'order_by_user_sequence': 11,
  'order_dow': 1,
  'order_hour_of_day': 20,
  'days_since_prior_order': 1.0},
 12: {'order_id': 140361,
  'user_id': 32099,
  'order_by_user_sequence': 12,
  'order_dow': 1,
  'order_hour_of_day': 9,
  'days_since_prior_order': 7.0},
 13: {'order_id': 2154990,
  'user_id': 32099,
  'order_by_user_sequence': 13,
  'order_dow': 2,
  'order_hour_of_day': 15,
  'days_since_prior_order': 1.0},
 14: {'order_id': 2326156,
  'user_id': 32099,
  'order_by_user_sequence': 14,
  'order_dow': 4,
  'order_hour_of_day': 9,
  'days_since_prior_order': 2.0},
 15: {'order_id': 1990534,
  'user_id': 32099,
  'order_by_user_sequence': 15,
  'order_dow': 0,
  'order_hour_of_day': 10,
  'days_since_prior_order': 3.0},
 16: {'order_id': 429499,
  'user_id': 32099,
  'order_by_user_sequence': 16,
  'order_dow': 1,
  'order_hour_of_day': 12,
  'days_since_prior_order': 1.0},
 17: {'order_id': 1757499,
  'user_id': 32099,
  'order_by_user_sequence': 17,
  'order_dow': 4,
  'order_hour_of_day': 12,
  'days_since_prior_order': 3.0},
 18: {'order_id': 2690907,
  'user_id': 32099,
  'order_by_user_sequence': 18,
  'order_dow': 1,
  'order_hour_of_day': 20,
  'days_since_prior_order': 4.0},
 19: {'order_id': 2972691,
  'user_id': 32099,
  'order_by_user_sequence': 19,
  'order_dow': 0,
  'order_hour_of_day': 13,
  'days_since_prior_order': 6.0},
 20: {'order_id': 1851797,
  'user_id': 32099,
  'order_by_user_sequence': 20,
  'order_dow': 1,
  'order_hour_of_day': 13,
  'days_since_prior_order': 1.0},
 21: {'order_id': 26576,
  'user_id': 32099,
  'order_by_user_sequence': 21,
  'order_dow': 2,
  'order_hour_of_day': 6,
  'days_since_prior_order': 1.0},
 22: {'order_id': 2566671,
  'user_id': 32099,
  'order_by_user_sequence': 22,
  'order_dow': 5,
  'order_hour_of_day': 15,
  'days_since_prior_order': 3.0},
 23: {'order_id': 3351094,
  'user_id': 32099,
  'order_by_user_sequence': 23,
  'order_dow': 6,
  'order_hour_of_day': 10,
  'days_since_prior_order': 1.0},
 24: {'order_id': 3380792,
  'user_id': 32099,
  'order_by_user_sequence': 24,
  'order_dow': 6,
  'order_hour_of_day': 12,
  'days_since_prior_order': 7.0},
 25: {'order_id': 2266357,
  'user_id': 32099,
  'order_by_user_sequence': 25,
  'order_dow': 3,
  'order_hour_of_day': 15,
  'days_since_prior_order': 4.0},
 26: {'order_id': 2821815,
  'user_id': 32099,
  'order_by_user_sequence': 26,
  'order_dow': 4,
  'order_hour_of_day': 10,
  'days_since_prior_order': 1.0},
 27: {'order_id': 895798,
  'user_id': 32099,
  'order_by_user_sequence': 27,
  'order_dow': 4,
  'order_hour_of_day': 12,
  'days_since_prior_order': 0.0},
 28: {'order_id': 1878425,
  'user_id': 32099,
  'order_by_user_sequence': 28,
  'order_dow': 6,
  'order_hour_of_day': 12,
  'days_since_prior_order': 2.0},
 29: {'order_id': 1273906,
  'user_id': 32099,
  'order_by_user_sequence': 29,
  'order_dow': 6,
  'order_hour_of_day': 14,
  'days_since_prior_order': 0.0},
 30: {'order_id': 617285,
  'user_id': 32099,
  'order_by_user_sequence': 30,
  'order_dow': 1,
  'order_hour_of_day': 8,
  'days_since_prior_order': 9.0},
 31: {'order_id': 580425,
  'user_id': 32099,
  'order_by_user_sequence': 31,
  'order_dow': 4,
  'order_hour_of_day': 9,
  'days_since_prior_order': 3.0},
 32: {'order_id': 1866081,
  'user_id': 32099,
  'order_by_user_sequence': 32,
  'order_dow': 4,
  'order_hour_of_day': 10,
  'days_since_prior_order': 0.0},
 33: {'order_id': 659525,
  'user_id': 32099,
  'order_by_user_sequence': 33,
  'order_dow': 1,
  'order_hour_of_day': 15,
  'days_since_prior_order': 4.0},
 34: {'order_id': 2510832,
  'user_id': 32099,
  'order_by_user_sequence': 34,
  'order_dow': 5,
  'order_hour_of_day': 10,
  'days_since_prior_order': 4.0},
 35: {'order_id': 1607985,
  'user_id': 32099,
  'order_by_user_sequence': 35,
  'order_dow': 1,
  'order_hour_of_day': 8,
  'days_since_prior_order': 10.0},
 36: {'order_id': 615785,
  'user_id': 32099,
  'order_by_user_sequence': 36,
  'order_dow': 2,
  'order_hour_of_day': 11,
  'days_since_prior_order': 1.0},
 37: {'order_id': 2807181,
  'user_id': 32099,
  'order_by_user_sequence': 37,
  'order_dow': 3,
  'order_hour_of_day': 8,
  'days_since_prior_order': 15.0},
 38: {'order_id': 2526826,
  'user_id': 32099,
  'order_by_user_sequence': 38,
  'order_dow': 5,
  'order_hour_of_day': 12,
  'days_since_prior_order': 2.0},
 39: {'order_id': 1960865,
  'user_id': 32099,
  'order_by_user_sequence': 39,
  'order_dow': 0,
  'order_hour_of_day': 11,
  'days_since_prior_order': 2.0},
 40: {'order_id': 907637,
  'user_id': 32099,
  'order_by_user_sequence': 40,
  'order_dow': 2,
  'order_hour_of_day': 0,
  'days_since_prior_order': 2.0},
 41: {'order_id': 2469752,
  'user_id': 32099,
  'order_by_user_sequence': 41,
  'order_dow': 4,
  'order_hour_of_day': 7,
  'days_since_prior_order': 2.0},
 42: {'order_id': 1602516,
  'user_id': 32099,
  'order_by_user_sequence': 42,
  'order_dow': 6,
  'order_hour_of_day': 10,
  'days_since_prior_order': 2.0},
 43: {'order_id': 37159,
  'user_id': 32099,
  'order_by_user_sequence': 43,
  'order_dow': 6,
  'order_hour_of_day': 14,
  'days_since_prior_order': 0.0},
 44: {'order_id': 1542626,
  'user_id': 32099,
  'order_by_user_sequence': 44,
  'order_dow': 2,
  'order_hour_of_day': 14,
  'days_since_prior_order': 3.0},
 45: {'order_id': 49093,
  'user_id': 32099,
  'order_by_user_sequence': 45,
  'order_dow': 3,
  'order_hour_of_day': 10,
  'days_since_prior_order': 1.0},
 46: {'order_id': 2875446,
  'user_id': 32099,
  'order_by_user_sequence': 46,
  'order_dow': 4,
  'order_hour_of_day': 10,
  'days_since_prior_order': 1.0},
 47: {'order_id': 721754,
  'user_id': 32099,
  'order_by_user_sequence': 47,
  'order_dow': 0,
  'order_hour_of_day': 15,
  'days_since_prior_order': 3.0},
 48: {'order_id': 780589,
  'user_id': 32099,
  'order_by_user_sequence': 48,
  'order_dow': 1,
  'order_hour_of_day': 14,
  'days_since_prior_order': 1.0},
 49: {'order_id': 2193037,
  'user_id': 32099,
  'order_by_user_sequence': 49,
  'order_dow': 2,
  'order_hour_of_day': 13,
  'days_since_prior_order': 1.0},
 50: {'order_id': 775105,
  'user_id': 32099,
  'order_by_user_sequence': 50,
  'order_dow': 4,
  'order_hour_of_day': 15,
  'days_since_prior_order': 2.0},
 51: {'order_id': 2809278,
  'user_id': 32099,
  'order_by_user_sequence': 51,
  'order_dow': 5,
  'order_hour_of_day': 13,
  'days_since_prior_order': 1.0},
 52: {'order_id': 2301592,
  'user_id': 32099,
  'order_by_user_sequence': 52,
  'order_dow': 4,
  'order_hour_of_day': 10,
  'days_since_prior_order': 6.0},
 53: {'order_id': 2506831,
  'user_id': 32099,
  'order_by_user_sequence': 53,
  'order_dow': 0,
  'order_hour_of_day': 15,
  'days_since_prior_order': 3.0},
 54: {'order_id': 346139,
  'user_id': 32099,
  'order_by_user_sequence': 54,
  'order_dow': 1,
  'order_hour_of_day': 13,
  'days_since_prior_order': 1.0},
 55: {'order_id': 2337935,
  'user_id': 32099,
  'order_by_user_sequence': 55,
  'order_dow': 1,
  'order_hour_of_day': 17,
  'days_since_prior_order': 0.0},
 56: {'order_id': 542459,
  'user_id': 32099,
  'order_by_user_sequence': 56,
  'order_dow': 3,
  'order_hour_of_day': 9,
  'days_since_prior_order': 2.0},
 57: {'order_id': 1690282,
  'user_id': 32099,
  'order_by_user_sequence': 57,
  'order_dow': 1,
  'order_hour_of_day': 10,
  'days_since_prior_order': 5.0},
 58: {'order_id': 2024320,
  'user_id': 32099,
  'order_by_user_sequence': 58,
  'order_dow': 1,
  'order_hour_of_day': 10,
  'days_since_prior_order': 0.0},
 59: {'order_id': 3047479,
  'user_id': 32099,
  'order_by_user_sequence': 59,
  'order_dow': 2,
  'order_hour_of_day': 14,
  'days_since_prior_order': 1.0},
 60: {'order_id': 3024045,
  'user_id': 32099,
  'order_by_user_sequence': 60,
  'order_dow': 0,
  'order_hour_of_day': 10,
  'days_since_prior_order': 5.0},
 61: {'order_id': 1745852,
  'user_id': 32099,
  'order_by_user_sequence': 61,
  'order_dow': 1,
  'order_hour_of_day': 12,
  'days_since_prior_order': 1.0},
 62: {'order_id': 322344,
  'user_id': 32099,
  'order_by_user_sequence': 62,
  'order_dow': 2,
  'order_hour_of_day': 10,
  'days_since_prior_order': 1.0},
 63: {'order_id': 2245218,
  'user_id': 32099,
  'order_by_user_sequence': 63,
  'order_dow': 4,
  'order_hour_of_day': 10,
  'days_since_prior_order': 2.0},
 64: {'order_id': 2431985,
  'user_id': 32099,
  'order_by_user_sequence': 64,
  'order_dow': 0,
  'order_hour_of_day': 14,
  'days_since_prior_order': 3.0},
 65: {'order_id': 881291,
  'user_id': 32099,
  'order_by_user_sequence': 65,
  'order_dow': 1,
  'order_hour_of_day': 13,
  'days_since_prior_order': 1.0},
 66: {'order_id': 1450148,
  'user_id': 32099,
  'order_by_user_sequence': 66,
  'order_dow': 3,
  'order_hour_of_day': 9,
  'days_since_prior_order': 2.0},
 67: {'order_id': 699779,
  'user_id': 32099,
  'order_by_user_sequence': 67,
  'order_dow': 5,
  'order_hour_of_day': 10,
  'days_since_prior_order': 2.0},
 68: {'order_id': 1326385,
  'user_id': 32099,
  'order_by_user_sequence': 68,
  'order_dow': 1,
  'order_hour_of_day': 16,
  'days_since_prior_order': 3.0},
 69: {'order_id': 977730,
  'user_id': 32099,
  'order_by_user_sequence': 69,
  'order_dow': 2,
  'order_hour_of_day': 8,
  'days_since_prior_order': 1.0},
 70: {'order_id': 1482171,
  'user_id': 32099,
  'order_by_user_sequence': 70,
  'order_dow': 4,
  'order_hour_of_day': 11,
  'days_since_prior_order': 2.0},
 71: {'order_id': 201711,
  'user_id': 32099,
  'order_by_user_sequence': 71,
  'order_dow': 6,
  'order_hour_of_day': 11,
  'days_since_prior_order': 2.0},
 72: {'order_id': 752983,
  'user_id': 32099,
  'order_by_user_sequence': 72,
  'order_dow': 0,
  'order_hour_of_day': 17,
  'days_since_prior_order': 1.0},
 73: {'order_id': 1843374,
  'user_id': 32099,
  'order_by_user_sequence': 73,
  'order_dow': 2,
  'order_hour_of_day': 15,
  'days_since_prior_order': 2.0},
 74: {'order_id': 2199820,
  'user_id': 32099,
  'order_by_user_sequence': 74,
  'order_dow': 3,
  'order_hour_of_day': 9,
  'days_since_prior_order': 1.0},
 75: {'order_id': 467421,
  'user_id': 32099,
  'order_by_user_sequence': 75,
  'order_dow': 5,
  'order_hour_of_day': 14,
  'days_since_prior_order': 2.0},
 76: {'order_id': 2334943,
  'user_id': 32099,
  'order_by_user_sequence': 76,
  'order_dow': 6,
  'order_hour_of_day': 14,
  'days_since_prior_order': 1.0},
 77: {'order_id': 688733,
  'user_id': 32099,
  'order_by_user_sequence': 77,
  'order_dow': 1,
  'order_hour_of_day': 14,
  'days_since_prior_order': 2.0},
 78: {'order_id': 2656090,
  'user_id': 32099,
  'order_by_user_sequence': 78,
  'order_dow': 3,
  'order_hour_of_day': 11,
  'days_since_prior_order': 2.0},
 79: {'order_id': 1136807,
  'user_id': 32099,
  'order_by_user_sequence': 79,
  'order_dow': 4,
  'order_hour_of_day': 14,
  'days_since_prior_order': 1.0},
 80: {'order_id': 2312765,
  'user_id': 32099,
  'order_by_user_sequence': 80,
  'order_dow': 0,
  'order_hour_of_day': 12,
  'days_since_prior_order': 3.0},
 81: {'order_id': 3183255,
  'user_id': 32099,
  'order_by_user_sequence': 81,
  'order_dow': 1,
  'order_hour_of_day': 12,
  'days_since_prior_order': 1.0},
 82: {'order_id': 2765929,
  'user_id': 32099,
  'order_by_user_sequence': 82,
  'order_dow': 2,
  'order_hour_of_day': 11,
  'days_since_prior_order': 1.0},
 83: {'order_id': 2132975,
  'user_id': 32099,
  'order_by_user_sequence': 83,
  'order_dow': 3,
  'order_hour_of_day': 16,
  'days_since_prior_order': 1.0},
 84: {'order_id': 970868,
  'user_id': 32099,
  'order_by_user_sequence': 84,
  'order_dow': 5,
  'order_hour_of_day': 14,
  'days_since_prior_order': 9.0},
 85: {'order_id': 2593010,
  'user_id': 32099,
  'order_by_user_sequence': 85,
  'order_dow': 0,
  'order_hour_of_day': 16,
  'days_since_prior_order': 2.0},
 86: {'order_id': 2839277,
  'user_id': 32099,
  'order_by_user_sequence': 86,
  'order_dow': 1,
  'order_hour_of_day': 11,
  'days_since_prior_order': 1.0},
 87: {'order_id': 977739,
  'user_id': 32099,
  'order_by_user_sequence': 87,
  'order_dow': 1,
  'order_hour_of_day': 12,
  'days_since_prior_order': 0.0},
 88: {'order_id': 3160253,
  'user_id': 32099,
  'order_by_user_sequence': 88,
  'order_dow': 2,
  'order_hour_of_day': 9,
  'days_since_prior_order': 1.0},
 89: {'order_id': 2069065,
  'user_id': 32099,
  'order_by_user_sequence': 89,
  'order_dow': 3,
  'order_hour_of_day': 16,
  'days_since_prior_order': 1.0},
 90: {'order_id': 2718339,
  'user_id': 32099,
  'order_by_user_sequence': 90,
  'order_dow': 5,
  'order_hour_of_day': 16,
  'days_since_prior_order': 2.0},
 91: {'order_id': 1567497,
  'user_id': 32099,
  'order_by_user_sequence': 91,
  'order_dow': 0,
  'order_hour_of_day': 16,
  'days_since_prior_order': 2.0},
 92: {'order_id': 1613797,
  'user_id': 32099,
  'order_by_user_sequence': 92,
  'order_dow': 4,
  'order_hour_of_day': 16,
  'days_since_prior_order': 4.0},
 93: {'order_id': 2290164,
  'user_id': 32099,
  'order_by_user_sequence': 93,
  'order_dow': 0,
  'order_hour_of_day': 11,
  'days_since_prior_order': 3.0},
 94: {'order_id': 1604637,
  'user_id': 32099,
  'order_by_user_sequence': 94,
  'order_dow': 1,
  'order_hour_of_day': 14,
  'days_since_prior_order': 1.0},
 95: {'order_id': 1267706,
  'user_id': 32099,
  'order_by_user_sequence': 95,
  'order_dow': 2,
  'order_hour_of_day': 16,
  'days_since_prior_order': 1.0},
 96: {'order_id': 3172517,
  'user_id': 32099,
  'order_by_user_sequence': 96,
  'order_dow': 3,
  'order_hour_of_day': 15,
  'days_since_prior_order': 1.0},
 97: {'order_id': 2818798,
  'user_id': 32099,
  'order_by_user_sequence': 97,
  'order_dow': 4,
  'order_hour_of_day': 9,
  'days_since_prior_order': 1.0},
 98: {'order_id': 2403204,
  'user_id': 32099,
  'order_by_user_sequence': 98,
  'order_dow': 4,
  'order_hour_of_day': 9,
  'days_since_prior_order': 7.0},
 99: {'order_id': 2564156,
  'user_id': 32099,
  'order_by_user_sequence': 99,
  'order_dow': 0,
  'order_hour_of_day': 0,
  'days_since_prior_order': 10.0},
 100: {'order_id': 1629423,
  'user_id': 32099,
  'order_by_user_sequence': 100,
  'order_dow': 1,
  'order_hour_of_day': 14,
  'days_since_prior_order': 1.0}}

In [17]:
# Already finished with adding rows to order 2, can drop order 1.

orders_deets.pop(1)

{'order_id': 2959648,
 'user_id': 32099,
 'order_by_user_sequence': 1,
 'order_dow': 0,
 'order_hour_of_day': 17,
 'days_since_prior_order': nan}

In [18]:
orders_deets

{2: {'order_id': 309518,
  'user_id': 32099,
  'order_by_user_sequence': 2,
  'order_dow': 1,
  'order_hour_of_day': 15,
  'days_since_prior_order': 1.0},
 3: {'order_id': 2494101,
  'user_id': 32099,
  'order_by_user_sequence': 3,
  'order_dow': 4,
  'order_hour_of_day': 11,
  'days_since_prior_order': 3.0},
 4: {'order_id': 931900,
  'user_id': 32099,
  'order_by_user_sequence': 4,
  'order_dow': 1,
  'order_hour_of_day': 20,
  'days_since_prior_order': 4.0},
 5: {'order_id': 2154511,
  'user_id': 32099,
  'order_by_user_sequence': 5,
  'order_dow': 5,
  'order_hour_of_day': 16,
  'days_since_prior_order': 4.0},
 6: {'order_id': 825019,
  'user_id': 32099,
  'order_by_user_sequence': 6,
  'order_dow': 0,
  'order_hour_of_day': 8,
  'days_since_prior_order': 2.0},
 7: {'order_id': 455159,
  'user_id': 32099,
  'order_by_user_sequence': 7,
  'order_dow': 2,
  'order_hour_of_day': 8,
  'days_since_prior_order': 2.0},
 8: {'order_id': 1116627,
  'user_id': 32099,
  'order_by_user_sequence': 8,
  'order_dow': 3,
  'order_hour_of_day': 11,
  'days_since_prior_order': 1.0},
 9: {'order_id': 1395324,
  'user_id': 32099,
  'order_by_user_sequence': 9,
  'order_dow': 4,
  'order_hour_of_day': 11,
  'days_since_prior_order': 1.0},
 10: {'order_id': 2819872,
  'user_id': 32099,
  'order_by_user_sequence': 10,
  'order_dow': 0,
  'order_hour_of_day': 14,
  'days_since_prior_order': 3.0},
 11: {'order_id': 20145,
  'user_id': 32099,
  'order_by_user_sequence': 11,
  'order_dow': 1,
  'order_hour_of_day': 20,
  'days_since_prior_order': 1.0},
 12: {'order_id': 140361,
  'user_id': 32099,
  'order_by_user_sequence': 12,
  'order_dow': 1,
  'order_hour_of_day': 9,
  'days_since_prior_order': 7.0},
 13: {'order_id': 2154990,
  'user_id': 32099,
  'order_by_user_sequence': 13,
  'order_dow': 2,
  'order_hour_of_day': 15,
  'days_since_prior_order': 1.0},
 14: {'order_id': 2326156,
  'user_id': 32099,
  'order_by_user_sequence': 14,
  'order_dow': 4,
  'order_hour_of_day': 9,
  'days_since_prior_order': 2.0},
 15: {'order_id': 1990534,
  'user_id': 32099,
  'order_by_user_sequence': 15,
  'order_dow': 0,
  'order_hour_of_day': 10,
  'days_since_prior_order': 3.0},
 16: {'order_id': 429499,
  'user_id': 32099,
  'order_by_user_sequence': 16,
  'order_dow': 1,
  'order_hour_of_day': 12,
  'days_since_prior_order': 1.0},
 17: {'order_id': 1757499,
  'user_id': 32099,
  'order_by_user_sequence': 17,
  'order_dow': 4,
  'order_hour_of_day': 12,
  'days_since_prior_order': 3.0},
 18: {'order_id': 2690907,
  'user_id': 32099,
  'order_by_user_sequence': 18,
  'order_dow': 1,
  'order_hour_of_day': 20,
  'days_since_prior_order': 4.0},
 19: {'order_id': 2972691,
  'user_id': 32099,
  'order_by_user_sequence': 19,
  'order_dow': 0,
  'order_hour_of_day': 13,
  'days_since_prior_order': 6.0},
 20: {'order_id': 1851797,
  'user_id': 32099,
  'order_by_user_sequence': 20,
  'order_dow': 1,
  'order_hour_of_day': 13,
  'days_since_prior_order': 1.0},
 21: {'order_id': 26576,
  'user_id': 32099,
  'order_by_user_sequence': 21,
  'order_dow': 2,
  'order_hour_of_day': 6,
  'days_since_prior_order': 1.0},
 22: {'order_id': 2566671,
  'user_id': 32099,
  'order_by_user_sequence': 22,
  'order_dow': 5,
  'order_hour_of_day': 15,
  'days_since_prior_order': 3.0},
 23: {'order_id': 3351094,
  'user_id': 32099,
  'order_by_user_sequence': 23,
  'order_dow': 6,
  'order_hour_of_day': 10,
  'days_since_prior_order': 1.0},
 24: {'order_id': 3380792,
  'user_id': 32099,
  'order_by_user_sequence': 24,
  'order_dow': 6,
  'order_hour_of_day': 12,
  'days_since_prior_order': 7.0},
 25: {'order_id': 2266357,
  'user_id': 32099,
  'order_by_user_sequence': 25,
  'order_dow': 3,
  'order_hour_of_day': 15,
  'days_since_prior_order': 4.0},
 26: {'order_id': 2821815,
  'user_id': 32099,
  'order_by_user_sequence': 26,
  'order_dow': 4,
  'order_hour_of_day': 10,
  'days_since_prior_order': 1.0},
 27: {'order_id': 895798,
  'user_id': 32099,
  'order_by_user_sequence': 27,
  'order_dow': 4,
  'order_hour_of_day': 12,
  'days_since_prior_order': 0.0},
 28: {'order_id': 1878425,
  'user_id': 32099,
  'order_by_user_sequence': 28,
  'order_dow': 6,
  'order_hour_of_day': 12,
  'days_since_prior_order': 2.0},
 29: {'order_id': 1273906,
  'user_id': 32099,
  'order_by_user_sequence': 29,
  'order_dow': 6,
  'order_hour_of_day': 14,
  'days_since_prior_order': 0.0},
 30: {'order_id': 617285,
  'user_id': 32099,
  'order_by_user_sequence': 30,
  'order_dow': 1,
  'order_hour_of_day': 8,
  'days_since_prior_order': 9.0},
 31: {'order_id': 580425,
  'user_id': 32099,
  'order_by_user_sequence': 31,
  'order_dow': 4,
  'order_hour_of_day': 9,
  'days_since_prior_order': 3.0},
 32: {'order_id': 1866081,
  'user_id': 32099,
  'order_by_user_sequence': 32,
  'order_dow': 4,
  'order_hour_of_day': 10,
  'days_since_prior_order': 0.0},
 33: {'order_id': 659525,
  'user_id': 32099,
  'order_by_user_sequence': 33,
  'order_dow': 1,
  'order_hour_of_day': 15,
  'days_since_prior_order': 4.0},
 34: {'order_id': 2510832,
  'user_id': 32099,
  'order_by_user_sequence': 34,
  'order_dow': 5,
  'order_hour_of_day': 10,
  'days_since_prior_order': 4.0},
 35: {'order_id': 1607985,
  'user_id': 32099,
  'order_by_user_sequence': 35,
  'order_dow': 1,
  'order_hour_of_day': 8,
  'days_since_prior_order': 10.0},
 36: {'order_id': 615785,
  'user_id': 32099,
  'order_by_user_sequence': 36,
  'order_dow': 2,
  'order_hour_of_day': 11,
  'days_since_prior_order': 1.0},
 37: {'order_id': 2807181,
  'user_id': 32099,
  'order_by_user_sequence': 37,
  'order_dow': 3,
  'order_hour_of_day': 8,
  'days_since_prior_order': 15.0},
 38: {'order_id': 2526826,
  'user_id': 32099,
  'order_by_user_sequence': 38,
  'order_dow': 5,
  'order_hour_of_day': 12,
  'days_since_prior_order': 2.0},
 39: {'order_id': 1960865,
  'user_id': 32099,
  'order_by_user_sequence': 39,
  'order_dow': 0,
  'order_hour_of_day': 11,
  'days_since_prior_order': 2.0},
 40: {'order_id': 907637,
  'user_id': 32099,
  'order_by_user_sequence': 40,
  'order_dow': 2,
  'order_hour_of_day': 0,
  'days_since_prior_order': 2.0},
 41: {'order_id': 2469752,
  'user_id': 32099,
  'order_by_user_sequence': 41,
  'order_dow': 4,
  'order_hour_of_day': 7,
  'days_since_prior_order': 2.0},
 42: {'order_id': 1602516,
  'user_id': 32099,
  'order_by_user_sequence': 42,
  'order_dow': 6,
  'order_hour_of_day': 10,
  'days_since_prior_order': 2.0},
 43: {'order_id': 37159,
  'user_id': 32099,
  'order_by_user_sequence': 43,
  'order_dow': 6,
  'order_hour_of_day': 14,
  'days_since_prior_order': 0.0},
 44: {'order_id': 1542626,
  'user_id': 32099,
  'order_by_user_sequence': 44,
  'order_dow': 2,
  'order_hour_of_day': 14,
  'days_since_prior_order': 3.0},
 45: {'order_id': 49093,
  'user_id': 32099,
  'order_by_user_sequence': 45,
  'order_dow': 3,
  'order_hour_of_day': 10,
  'days_since_prior_order': 1.0},
 46: {'order_id': 2875446,
  'user_id': 32099,
  'order_by_user_sequence': 46,
  'order_dow': 4,
  'order_hour_of_day': 10,
  'days_since_prior_order': 1.0},
 47: {'order_id': 721754,
  'user_id': 32099,
  'order_by_user_sequence': 47,
  'order_dow': 0,
  'order_hour_of_day': 15,
  'days_since_prior_order': 3.0},
 48: {'order_id': 780589,
  'user_id': 32099,
  'order_by_user_sequence': 48,
  'order_dow': 1,
  'order_hour_of_day': 14,
  'days_since_prior_order': 1.0},
 49: {'order_id': 2193037,
  'user_id': 32099,
  'order_by_user_sequence': 49,
  'order_dow': 2,
  'order_hour_of_day': 13,
  'days_since_prior_order': 1.0},
 50: {'order_id': 775105,
  'user_id': 32099,
  'order_by_user_sequence': 50,
  'order_dow': 4,
  'order_hour_of_day': 15,
  'days_since_prior_order': 2.0},
 51: {'order_id': 2809278,
  'user_id': 32099,
  'order_by_user_sequence': 51,
  'order_dow': 5,
  'order_hour_of_day': 13,
  'days_since_prior_order': 1.0},
 52: {'order_id': 2301592,
  'user_id': 32099,
  'order_by_user_sequence': 52,
  'order_dow': 4,
  'order_hour_of_day': 10,
  'days_since_prior_order': 6.0},
 53: {'order_id': 2506831,
  'user_id': 32099,
  'order_by_user_sequence': 53,
  'order_dow': 0,
  'order_hour_of_day': 15,
  'days_since_prior_order': 3.0},
 54: {'order_id': 346139,
  'user_id': 32099,
  'order_by_user_sequence': 54,
  'order_dow': 1,
  'order_hour_of_day': 13,
  'days_since_prior_order': 1.0},
 55: {'order_id': 2337935,
  'user_id': 32099,
  'order_by_user_sequence': 55,
  'order_dow': 1,
  'order_hour_of_day': 17,
  'days_since_prior_order': 0.0},
 56: {'order_id': 542459,
  'user_id': 32099,
  'order_by_user_sequence': 56,
  'order_dow': 3,
  'order_hour_of_day': 9,
  'days_since_prior_order': 2.0},
 57: {'order_id': 1690282,
  'user_id': 32099,
  'order_by_user_sequence': 57,
  'order_dow': 1,
  'order_hour_of_day': 10,
  'days_since_prior_order': 5.0},
 58: {'order_id': 2024320,
  'user_id': 32099,
  'order_by_user_sequence': 58,
  'order_dow': 1,
  'order_hour_of_day': 10,
  'days_since_prior_order': 0.0},
 59: {'order_id': 3047479,
  'user_id': 32099,
  'order_by_user_sequence': 59,
  'order_dow': 2,
  'order_hour_of_day': 14,
  'days_since_prior_order': 1.0},
 60: {'order_id': 3024045,
  'user_id': 32099,
  'order_by_user_sequence': 60,
  'order_dow': 0,
  'order_hour_of_day': 10,
  'days_since_prior_order': 5.0},
 61: {'order_id': 1745852,
  'user_id': 32099,
  'order_by_user_sequence': 61,
  'order_dow': 1,
  'order_hour_of_day': 12,
  'days_since_prior_order': 1.0},
 62: {'order_id': 322344,
  'user_id': 32099,
  'order_by_user_sequence': 62,
  'order_dow': 2,
  'order_hour_of_day': 10,
  'days_since_prior_order': 1.0},
 63: {'order_id': 2245218,
  'user_id': 32099,
  'order_by_user_sequence': 63,
  'order_dow': 4,
  'order_hour_of_day': 10,
  'days_since_prior_order': 2.0},
 64: {'order_id': 2431985,
  'user_id': 32099,
  'order_by_user_sequence': 64,
  'order_dow': 0,
  'order_hour_of_day': 14,
  'days_since_prior_order': 3.0},
 65: {'order_id': 881291,
  'user_id': 32099,
  'order_by_user_sequence': 65,
  'order_dow': 1,
  'order_hour_of_day': 13,
  'days_since_prior_order': 1.0},
 66: {'order_id': 1450148,
  'user_id': 32099,
  'order_by_user_sequence': 66,
  'order_dow': 3,
  'order_hour_of_day': 9,
  'days_since_prior_order': 2.0},
 67: {'order_id': 699779,
  'user_id': 32099,
  'order_by_user_sequence': 67,
  'order_dow': 5,
  'order_hour_of_day': 10,
  'days_since_prior_order': 2.0},
 68: {'order_id': 1326385,
  'user_id': 32099,
  'order_by_user_sequence': 68,
  'order_dow': 1,
  'order_hour_of_day': 16,
  'days_since_prior_order': 3.0},
 69: {'order_id': 977730,
  'user_id': 32099,
  'order_by_user_sequence': 69,
  'order_dow': 2,
  'order_hour_of_day': 8,
  'days_since_prior_order': 1.0},
 70: {'order_id': 1482171,
  'user_id': 32099,
  'order_by_user_sequence': 70,
  'order_dow': 4,
  'order_hour_of_day': 11,
  'days_since_prior_order': 2.0},
 71: {'order_id': 201711,
  'user_id': 32099,
  'order_by_user_sequence': 71,
  'order_dow': 6,
  'order_hour_of_day': 11,
  'days_since_prior_order': 2.0},
 72: {'order_id': 752983,
  'user_id': 32099,
  'order_by_user_sequence': 72,
  'order_dow': 0,
  'order_hour_of_day': 17,
  'days_since_prior_order': 1.0},
 73: {'order_id': 1843374,
  'user_id': 32099,
  'order_by_user_sequence': 73,
  'order_dow': 2,
  'order_hour_of_day': 15,
  'days_since_prior_order': 2.0},
 74: {'order_id': 2199820,
  'user_id': 32099,
  'order_by_user_sequence': 74,
  'order_dow': 3,
  'order_hour_of_day': 9,
  'days_since_prior_order': 1.0},
 75: {'order_id': 467421,
  'user_id': 32099,
  'order_by_user_sequence': 75,
  'order_dow': 5,
  'order_hour_of_day': 14,
  'days_since_prior_order': 2.0},
 76: {'order_id': 2334943,
  'user_id': 32099,
  'order_by_user_sequence': 76,
  'order_dow': 6,
  'order_hour_of_day': 14,
  'days_since_prior_order': 1.0},
 77: {'order_id': 688733,
  'user_id': 32099,
  'order_by_user_sequence': 77,
  'order_dow': 1,
  'order_hour_of_day': 14,
  'days_since_prior_order': 2.0},
 78: {'order_id': 2656090,
  'user_id': 32099,
  'order_by_user_sequence': 78,
  'order_dow': 3,
  'order_hour_of_day': 11,
  'days_since_prior_order': 2.0},
 79: {'order_id': 1136807,
  'user_id': 32099,
  'order_by_user_sequence': 79,
  'order_dow': 4,
  'order_hour_of_day': 14,
  'days_since_prior_order': 1.0},
 80: {'order_id': 2312765,
  'user_id': 32099,
  'order_by_user_sequence': 80,
  'order_dow': 0,
  'order_hour_of_day': 12,
  'days_since_prior_order': 3.0},
 81: {'order_id': 3183255,
  'user_id': 32099,
  'order_by_user_sequence': 81,
  'order_dow': 1,
  'order_hour_of_day': 12,
  'days_since_prior_order': 1.0},
 82: {'order_id': 2765929,
  'user_id': 32099,
  'order_by_user_sequence': 82,
  'order_dow': 2,
  'order_hour_of_day': 11,
  'days_since_prior_order': 1.0},
 83: {'order_id': 2132975,
  'user_id': 32099,
  'order_by_user_sequence': 83,
  'order_dow': 3,
  'order_hour_of_day': 16,
  'days_since_prior_order': 1.0},
 84: {'order_id': 970868,
  'user_id': 32099,
  'order_by_user_sequence': 84,
  'order_dow': 5,
  'order_hour_of_day': 14,
  'days_since_prior_order': 9.0},
 85: {'order_id': 2593010,
  'user_id': 32099,
  'order_by_user_sequence': 85,
  'order_dow': 0,
  'order_hour_of_day': 16,
  'days_since_prior_order': 2.0},
 86: {'order_id': 2839277,
  'user_id': 32099,
  'order_by_user_sequence': 86,
  'order_dow': 1,
  'order_hour_of_day': 11,
  'days_since_prior_order': 1.0},
 87: {'order_id': 977739,
  'user_id': 32099,
  'order_by_user_sequence': 87,
  'order_dow': 1,
  'order_hour_of_day': 12,
  'days_since_prior_order': 0.0},
 88: {'order_id': 3160253,
  'user_id': 32099,
  'order_by_user_sequence': 88,
  'order_dow': 2,
  'order_hour_of_day': 9,
  'days_since_prior_order': 1.0},
 89: {'order_id': 2069065,
  'user_id': 32099,
  'order_by_user_sequence': 89,
  'order_dow': 3,
  'order_hour_of_day': 16,
  'days_since_prior_order': 1.0},
 90: {'order_id': 2718339,
  'user_id': 32099,
  'order_by_user_sequence': 90,
  'order_dow': 5,
  'order_hour_of_day': 16,
  'days_since_prior_order': 2.0},
 91: {'order_id': 1567497,
  'user_id': 32099,
  'order_by_user_sequence': 91,
  'order_dow': 0,
  'order_hour_of_day': 16,
  'days_since_prior_order': 2.0},
 92: {'order_id': 1613797,
  'user_id': 32099,
  'order_by_user_sequence': 92,
  'order_dow': 4,
  'order_hour_of_day': 16,
  'days_since_prior_order': 4.0},
 93: {'order_id': 2290164,
  'user_id': 32099,
  'order_by_user_sequence': 93,
  'order_dow': 0,
  'order_hour_of_day': 11,
  'days_since_prior_order': 3.0},
 94: {'order_id': 1604637,
  'user_id': 32099,
  'order_by_user_sequence': 94,
  'order_dow': 1,
  'order_hour_of_day': 14,
  'days_since_prior_order': 1.0},
 95: {'order_id': 1267706,
  'user_id': 32099,
  'order_by_user_sequence': 95,
  'order_dow': 2,
  'order_hour_of_day': 16,
  'days_since_prior_order': 1.0},
 96: {'order_id': 3172517,
  'user_id': 32099,
  'order_by_user_sequence': 96,
  'order_dow': 3,
  'order_hour_of_day': 15,
  'days_since_prior_order': 1.0},
 97: {'order_id': 2818798,
  'user_id': 32099,
  'order_by_user_sequence': 97,
  'order_dow': 4,
  'order_hour_of_day': 9,
  'days_since_prior_order': 1.0},
 98: {'order_id': 2403204,
  'user_id': 32099,
  'order_by_user_sequence': 98,
  'order_dow': 4,
  'order_hour_of_day': 9,
  'days_since_prior_order': 7.0},
 99: {'order_id': 2564156,
  'user_id': 32099,
  'order_by_user_sequence': 99,
  'order_dow': 0,
  'order_hour_of_day': 0,
  'days_since_prior_order': 10.0},
 100: {'order_id': 1629423,
  'user_id': 32099,
  'order_by_user_sequence': 100,
  'order_dow': 1,
  'order_hour_of_day': 14,
  'days_since_prior_order': 1.0}}

In [19]:
# Now iterate over practice_user df to find un-reordered items for
# each order and add them as new rows.

for n in range(2,100):
    # Get items from order n not reordered in order n+1
    order_n = practice_user[practice_user['order_by_user_sequence']==n
                           ]['product_id'].unique().tolist()
    order_n1 = practice_user[practice_user['order_by_user_sequence']==(
        n+1)]['product_id'].unique().tolist()
    only_n = [x for x in order_n if x not in order_n1]
    # Get n1 deets from the big deets dict
    order_n1_deets = orders_deets.get(n+1)
    # Add to n1 deets dict with product ids from order_n
    order_n1_deets.update({'product_id': only_n})
    # Turn dict into df of new rows
    order_n1_new_rows = pd.DataFrame.from_dict(order_n1_deets)
    # Add new rows to practice_user df
    practice_user = pd.concat([practice_user, order_n1_new_rows])

practice_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34021 entries, 5261360 to 471
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                34021 non-null  int64
 1   user_id                 34021 non-null  int64
 2   order_by_user_sequence  34021 non-null  int64
 3   order_dow               34021 non-null  int64
 4   order_hour_of_day       34021 non-null  int64
 5   days_since_prior_order  33995 non-null  float64
 6   product_id              34021 non-null  int64
 7   add_to_cart_sequence    1992 non-null   float64
 8   reordered               2017 non-null   float64
 9   product_name            1992 non-null   object
 10  aisle_name              1992 non-null   object
 11  dept_name               1992 non-null   object
 12  aisle_id                1992 non-null   float64
 13  department_id           1992 non-null   float64
 14  eval_set                1992 non-null   object
dtypes: float64(5), int64(6), object(4)
memory usage: 4.2+ MB

In [20]:
practice_user[practice_user['order_by_user_sequence']==3]

,order_id,user_id,order_by_user_sequence,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_sequence,reordered,product_name,aisle_name,dept_name,aisle_id,department_id,eval_set
5261398,2494101,32099,3,4,11,3.0,27966,14.0,1.0,Organic Raspberries,packaged vegetables fruits,produce,123.0,4.0,prior
5261399,2494101,32099,3,4,11,3.0,23909,20.0,0.0,2% Reduced Fat Milk,milk,dairy eggs,84.0,16.0,prior
5261400,2494101,32099,3,4,11,3.0,45698,38.0,0.0,One Ply Choose A Size Big Roll Paper Towel Rolls,paper goods,household,54.0,17.0,prior
5261401,2494101,32099,3,4,11,3.0,31717,27.0,0.0,Organic Cilantro,fresh herbs,produce,16.0,4.0,prior
5261402,2494101,32099,3,4,11,3.0,33198,45.0,0.0,Sparkling Natural Mineral Water,water seltzer sparkling water,beverages,115.0,7.0,prior
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,2494101,32099,3,4,11,3.0,18435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2494101,32099,3,4,11,3.0,29603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2494101,32099,3,4,11,3.0,47403,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2494101,32099,3,4,11,3.0,34208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2494101,32099,3,4,11,3.0,1598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# Deal with all the NaNs I just made. 
# add_to_cart_sequence can stay for now: NaN is accurate for these new rows
# All new rows can have reordered value of 0

practice_user['reordered'] = practice_user['reordered'].fillna(0)
practice_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34021 entries, 5261360 to 471
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_id                34021 non-null  int64
 1   user_id                 34021 non-null  int64
 2   order_by_user_sequence  34021 non-null  int64
 3   order_dow               34021 non-null  int64
 4   order_hour_of_day       34021 non-null  int64
 5   days_since_prior_order  33995 non-null  float64
 6   product_id              34021 non-null  int64
 7   add_to_cart_sequence    1992 non-null   float64
 8   reordered               34021 non-null  float64
 9   product_name            1992 non-null   object
 10  aisle_name              1992 non-null   object
 11  dept_name               1992 non-null   object
 12  aisle_id                1992 non-null   float64
 13  department_id           1992 non-null   float64
 14  eval_set                1992 non-null   object
dtypes: float64(5), int64(6), object(4)
memory usage: 4.2+ MB

In [ ]:
# Remaining rows can be filled based on the product_id column value
# Need to get dictionaries for department_id:dept_name, aisle_id:aisle_name, 
# deptartment_id:aisle_id, aisle_id:product_id, product_id:product_name

prod_id_name_dict = df.set_index('product_id').to_dict()['product_name']
prod_id_name_dict

In [ ]:
aisle_id_name_dict = df.set_index('aisle_id').to_dict()['aisle_name']
aisle_id_name_dict

In [ ]:
dept_id_name_dict = df.set_index('department_id').todict()['dept_name']
dept_id_name_dict

In [ ]:
aisle_prod_dict = df.set_index('aisle_id').to_dict()['product_id']
aisle_prod_dict

In [ ]:
dept_aisle_dict = df.set_index('department_id').to_dict()['aisle_id']
aisle_name_dict

Next: cluster items in order to have fewer products to work with. 

Sometime: Other curriculum-recommended steps to review in case it sparks anything I really want to be exploring: sns.lmplot, sns.catplot, more in the eda cheat sheet.